// Imports
@import "variables";

.logoContainer {
  width: 500px;
  padding: 3rem;
  @media(min-width: 1200px) {
    padding: 0;
    width: auto;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  background-image: url("/header.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-width: 992px) {
    min-height: 30vw;
    padding-top: 0;
  }
  @media (min-width: 1200px) {
    min-height: 32vw;
    padding-top: 0;
  }
}

.join {
  background-color: $darkBlue;
  width: 100%;
  color: #fff;
  h1 {
      color: $pink;
  }
}

.callout {
    text-align: center;
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
}
