// Imports
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  html,
  body {
    @apply bg-beige antialiased m-0 p-0 font-medium;
  }
  h1 {
    @apply text-4xl font-extrabold mb-4 lg:mb-8 text-center;
    font-family: 'Libre Franklin', sans-serif;
  }
  h2 {
    @apply text-2xl;
  }
  p {
    @apply font-sans text-base pt-3;
  }
  span {
    @apply text-base;
  }
  .textPage {
    h2 {
      @apply font-bold text-blue py-4;
    }
    h3 {
      @apply font-bold text-blue pt-4 text-lg;
    }
    ul {
      list-style-type: disc;
      @apply lg:px-7 text-base;
    }
  }
  section {
    @apply py-8 lg:py-16 px-5 lg:px-0;
  }
  .btn {
    @apply inline-block text-base font-bold rounded-full text-white px-6 py-4 border-4 border-boobs-hotpink bg-boobs-hotpink  hover:bg-transparent hover:text-boobs-hotpink no-underline;
  }
}

.container {
  @media (min-width: 992px) {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
  @apply lg:px-10 md:max-w-full px-4;
}

// Text
p a,
li:not(.nav-link) a {
  text-decoration: underline;
  cursor: pointer;
  &:not(.nav-link):hover {
    @apply text-blue;
  }
}

.logoContainer {
  width: 500px;
  padding: 3rem;
  @media (min-width: 1200px) {
    padding: 0;
    width: auto;
  }
}

.join {
  @apply bg-blue text-white w-full;
  h1 {
    @apply text-pink;
  }
}

.socialsList {
  @apply flex list-none p-0 w-full mt-6 lg:mt-0 space-x-8 lg:space-x-5;
}

.button {
  @apply bg-pink inline-block py-4 px-8 rounded-full no-underline font-bold;
  box-shadow: 5px 5px 0px black;
  border: 2px solid black;
  &:active {
    box-shadow: 0px 0px 0px black;
    transform: translateY(5px);
  }
}

.eventCard {
  .button {
    @apply py-2 px-6 text-xs lg:text-sm font-bold inline-block w-full text-center md:w-auto;
    &.secondary {
      @apply bg-yellow;
    }
  }
}
