// Imports
@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: $lightYellow;
  padding: 0;
  margin: 0;
  @apply antialiased;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

// Announcement Bar
.announcement-bar {
  text-align: center;
  background: $highlighter;
  padding: 10px 0;
  border-top: 5px solid #000000;
  border-bottom: 5px solid #000000;
  .announcement-bar-text {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 900;
  }
}

// Text

a {
  text-decoration: underline;
  &:hover {
    color: $darkBlue;
  }
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;
  color: $darkBlue;
}

p {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.3rem;
}

.socialsList {
  li:not(:last-child) {
    margin-right: 2rem;
  }
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

// Footer
footer {
  font-weight: 700;
  background-color: $highlighter;
  padding: 2rem 0;
  border-top: 5px solid #000000;
  border-bottom: 5px solid #000000;
  .socialsList {
    margin-top: 1rem;
  }
}
