// Imports
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  html,
  body {
    @apply bg-beige antialiased m-0 p-0;
  }
  h1 {
    @apply text-4xl font-extrabold mb-4 lg:mb-8 text-center;
    font-family: 'Libre Franklin', sans-serif;
  }
  h2 {
    @apply text-xl;
  }
  p {
    @apply font-sans text-base pt-3;
  }
  section {
    @apply py-8 lg:py-16 px-5 lg:px-0;
  }
}

.container {
  @media (min-width: 992px) {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}

// Text

a {
  text-decoration: underline;
  &:hover {
    @apply text-blue;
  }
}

.logoContainer {
  width: 500px;
  padding: 3rem;
  @media (min-width: 1200px) {
    padding: 0;
    width: auto;
  }
}

.header {
  @apply bg-center bg-no-repeat bg-cover flex items-center justify-center pt-12;
  background-image: url('/header.svg');
  @media (min-width: 992px) {
    min-height: 30vw;
    padding-top: 0;
  }
  @media (min-width: 1200px) {
    min-height: 32vw;
    padding-top: 0;
  }
}

.join {
  @apply bg-blue text-white w-full;
  h1 {
    @apply text-pink;
  }
}

.callout {
  @apply block font-semibold text-2xl text-center;
}

.socialsList {
  @apply flex list-none p-0 w-full mt-6 lg:mt-0 space-x-8 lg:space-x-5;
}
